# Bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment folder
venv/

# IDE and editor configurations (if using VSCode)
.vscode/

# MacOS Finder files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore any folders that you don't want to track
Divide-N-Conquer/
Dynamic-Programming/
Randomize_Algorithms/
graph/